@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Color system
$dark:          $gray-700;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $light;
$body-color:                $dark;

// Links
//
// Style anchor elements
$link-color:                              theme-color("info");

@import "../bootstrap/scss/bootstrap.scss";