/* Fonts */
$headline-font: "Arial Black", Gadget, sans-serif;
$paragraph-font: "Courier New", Courier, monospace;

/*Colours*/
$Colour1WithWhite: #588c7e;
$Colour2WithBlack: #f2e394;
$Colour3WithBlack: #f2ae72;
$Colour4WithWhite: #d96459;


p {
    font-family: $paragraph-font;
}
h1, h2, h3 {
    font-family: $headline-font;
}

/* Style Messages*/

.Messageli {
    background-color: $Colour4WithWhite;
    border-top-width: 4px;
    border-top-color: black;
}
.MessageDisplayname {
    color: white;
    font-weight: bold;
}
.Message {
    color: white;
    font-size: large;
}
.Messagetimedate {
    color: white;
    font-style: oblique;
}