<!DOCTYPE html>
<head>
    <title>El's Flack</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script 
        type="text/javascript" 
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
    </script>
    <script
        src="{{ url_for('static', filename='index.js') }}">
    </script>

</head>
<body>
    <div id="choose">
        <h1>Welcome to Flack!</h1>
        <form id="chooseform">
            <input id="displayname" type="text" placeholder="Choose a username" required>
            <button id="choosedisplay">Submit</button>
        </form>
    </div>
    <div id="welcomeback">
    </div>
    <div id="create">
        <form id="createChannel">
            <input id="Channelname" 
                type="text" 
                placeholder="Create a new channel" 
                name="newChannel">
            <button id="createChannelButton" type="submit">Submit</button>
        </form>
    </div>
    <div id="allChannels"> Channels:
        <ul id="channelList"></ul>
    </div>
    <div id="activeChannel">
        <h1 id="active"></h1>
        <div id="messageform">
            <form id="createMessage">
                <input id="messageText"
                type="text"
                placeholder="Add a message to the channel"
                name="newMessage">
                <button id="createMessageButton" type="submit">Submit</button>
            </form>
        </div>
        <ul id="messagesList">
        </ul>
    </div>

</body>